# 源代码
src/**

# 测试相关
**/test/**
**/*.test.*
**/__tests__/**

# 开发工具配置
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
.editorconfig
.gitignore

# 文档
**/*.md
!README.md
!CHANGELOG.md

# 构建和依赖管理
package-lock.json
tsconfig.json
webpack.config.js

# 调试配置
.vscode/

# 其他
.yarnrc
.npmrc
.DS_Store
Thumbs.db